<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApiUrl" value="http://192.168.1.27/Smart.Inspection.Web/" />
    <add key="IpadUrl" value="http://192.168.1.27/PIPELINEOM.Web/" />
    <!--地下管网运维ipad接口-->
    <!--获取工程新增个数-->
    <add key="PM_GetProjectNew" value="Project/GetProjectNew" />
    <!--改变工程状态-->
    <add key="PM_ChangeProState" value="Project/ChangeProState" />
    <!--获取工程详情-->
    <add key="PM_GetProjectById" value="Project/GetProjectById" />
    <!--获取工程过程-->
    <add key="PM_GetProjectstateById" value="Projectstate/GetProjectstateById" />
    <!--添加警报添加-->
    <add key="PM_AddHiddendanger" value="Hiddendanger/AddHiddendanger" />
    <!--添加警报添加-->
    <add key="PM_GetAllHiddendanger" value="Hiddendanger/GetAllHiddendanger" />
    <!--获取枚举值-->
    <add key="PM_GetGroup" value="CodeManage/GetGroup" />
    <!--获取所有道路-->
    <add key="PM_GetAllRoadAPI" value="ROAD/GetAllRoadAPI" />
    <!--获取所有单位-->
    <add key="PM_GetAllUnit" value="Unit/GetAllUnit" />
    <!--获取更称列表-->
    <add key="PM_GetAllProject" value="Project/GetAllProject" />
    <!--登录-->
    <add key="PM_Login" value="User/Login" />
    <!--修改密码-->
    <add key="PM_ChangePassword" value="User/ChangePassword" />
    <!--添加开挖申请-->
    <add key="PM_AddPROJECT" value="Project/AddPROJECT" />
    <!--扫码下载App-->
    <add key="PM_QRCodeDownload" value="APPDownload/WebDownloadApp" />
    
    <!--巡检养护app接口-->
    <!--检查Token-->
    <add key="CheckToken" value="MobileApi/CheckToken" />
    <!--登录-->
    <add key="Login" value="MobileApi/Login" />
    <!--获取全部枚举值-->
    <add key="GetAllENUM" value="AreaTask/GetAllENUM" />
    <!--新增获取新消息个数-->
    <add key="GetAllTaskNEW" value="AreaTask/GetAllTaskNEW" />
    <!--获取道路-->
    <add key="GetAllRoad" value="ROAD/GetAllRoadAPI" />
    <!--保存版本信息-->
    <add key="AddEditonApi" value="Appedtion/AddApi" />
    <!--获取初始化数据-->
    <add key="GetEdtionById" value="Appedtion/GetById" />
    <!--删除版本信息数据-->
    <add key="DeleteAppedtion" value="Appedtion/Delete" />
    <!--获取版本列表-->
    <add key="GetAllEdtion" value="Appedtion/GetAllAInfo" />
    <!--修改密码-->
    <add key="ChangePassword" value="MobileApi/ChangePassword" />
    <!--根据ID获取案件-->
    <add key="getTaskDetailsByID" value="Areatask/getTaskDetailsByID" />
    <!--根据ID获取案件-->
    <add key="GetCaseById" value="Case/GetCaseById" />
    <!--添加案件（带附件）-->
    <add key="AddCaseApi" value="Case/AddCaseApi" />
    <!--获取隐患大类-->
    <add key="GetPARENTID" value="HDType/GetPARENTID" />
    <!--隐患小类——问题上报-->
    <add key="GetSubHdType" value="HDType/GetSubHdType" />
    <!--获取所有任务-->
    <add key="GetAllTaskInfo" value="AreaTask/GetAllInfo" />
    <!--签收、拒收——我的任务-->
    <add key="ChangeState" value="AreaTask/ChangeState" />
    <!--行业类型——问题上报(枚举值)-->
    <add key="GetGroup" value="CodeManage/GetGroup" />
    <!--沿线巡检打卡——我的任务-->
    <add key="SaveAttendance" value="AreaTask/SaveAttendance" />
    <!--考勤获取打卡列表及统计信息——统计-->
    <add key="GetAllAttendanceInfo" value="AttendanceStatistics/GetAllAttendanceInfo" />
    <!--养护上报和紧急上报——我的任务-->
    <add key="AttendanceSava" value="Attendance/SaveOrUpdate" />
    <!--养护上报和紧急上报——我的任务-->
    <add key="MaintenanceUpdate" value="Maintenance/MaintenanceUpdate" />
    <!--案件统计数量——统计-->
    <add key="GetCaseCount" value="CaseStatistics/GetCaseCount" />
    <!--人员坐标位置上报-->
    <add key="SaveUserLocation" value="Attendance/SaveUserLocation" />
    <!--上报记录操作详情——上报记录-->
    <add key="GetProcess" value="AreaTask/GetProcess" />
    <!--考勤打卡上报——考勤初始化配置数据-->
    <add key="GetAllLocaSetting" value="Attendance/GetAllLocaSetting" />
    <!--获取上报记录案件列表——上报记录-->
    <add key="GetAllCaseInfo" value="Case/GetAPPAllCaseInfo" />
    <!--下载App-->
    <add key="DownloadApp" value="Appedtion/DownloadApp" />
    <!--扫码下载App-->
    <add key="QRCodeDownload" value="Appedtion/WebDownloadApp" />
    <!--获取app最新版本信息-->
    <add key="Getmaxedtion" value="Appedtion/Getmaxedtion" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="3600" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <httpProtocol>

      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />

        <add name="Access-Control-Allow-Headers" value="Content-Type,token" />

        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />

      </customHeaders>

    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
