<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巡查养护系统</title>
    <link href="~/Content/js/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/js/Bootstrap/version4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/js/font/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/js/Bootstrap/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/Content/theme/styles.css" rel="stylesheet" />
    <link href="~/Content/theme/index.css" rel="stylesheet" />
    <link href="~/Content/js/jQuery/Plugins/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Content/js/jQuery/Plugins/jsPanel/jquery.jspanel.css" rel="stylesheet" />

    <link href="~/Content/js/jQuery/Plugins/noty/themes/relax.css" rel="stylesheet" />
    <link href="~/Content/css/_layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/js/jQuery/Plugins/am-pagination/css/demo.css">
    <!--  <link rel="stylesheet" href="~/Content/js/jQuery/Plugins/am-pagination/css/amazeui.flat.css">-->
    <link rel="stylesheet" href="~/Content/js/jQuery/Plugins/am-pagination/css/am-pagination.css">
    <link rel="stylesheet" href="~/Content/js/jQuery/Plugins/DatePicker/skin/WdatePicker.css">

</head>

<body class="sidebar-fixed header-fixed">


    <div class="page-wrapper">
        @RenderBody()
    </div>

    <script src="~/Content/js/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jQuery/Plugins/vue/vue.js"></script>
    <script src="~/Content/js/jQuery/Plugins/vue/v-slimscroll.js"></script>
    <script src="~/Content/js/jQuery/Plugins/noty/noty.min.js"></script>
    <script src="~/Content/js/jQuery/Plugins/jquery-ui.min.js"></script>
    <script src="~/Content/js/jQuery/Plugins/jquery.tmpl.min.js"></script>
    <script src="~/Content/js/Bootstrap/version4.0.0/js/bootstrap.min.js"></script>
    <script src="~/Content/js/Bootstrap/bootstrap-table/js/bootstrap-table.min.js"></script>
    <script src="~/Content/js/Bootstrap/bootstrap-table/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Content/js/jQuery/Plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/Content/js/jQuery/Plugins/jquery-validation/form-validate-ex.js"></script>
    <script src="~/Content/js/jQuery/Plugins/jquery-validation/localization/messages_zh.js"></script>
    <script src="~/Content/js/jQuery/Plugins/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/Content/js/layer/layer.js"></script>
    <script src="~/Content/js/portal/framework.js"></script>
    <script src="~/Content/js/jQuery/Plugins/select2/js/select2.min.js"></script>
    <script src="~/Content/js/jQuery/Plugins/echarts/echarts.js"></script>
    <script src="~/Content/js/jQuery/Plugins/screenfull.min.js"></script>
    <script src="~/Content/js/jQuery/Plugins/jsPanel/jquery.jspanel.min.js"></script>
    <script src="~/Content/js/Framework/robin-utils.js"></script>
    <script src="~/Content/js/jQuery/Plugins/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Content/js/jQuery/Plugins/DatePicker/WdatePicker.js"></script>
    <script src="~/Content/js/jQuery/Plugins/vue/element-ui/lib/index.js"></script>
    <script src="http://192.168.1.244/arcgis_js_api/library/4.10/init.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

